@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600&display=swap');


/* Reset and Utilities */
*,
*::after,
*::before{
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-collapse: collapse;
}
body{
    font-family: 'Raleway',Arial,Helvitica,sans-serif;
    font-size: 16px;
    font-weight: 600;
    background: var(--pink);
}
html{
    scroll-behavior: smooth;

}
li{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
:root{
    --pink:#ff90e8;
    --dark-pink:#b23386;
    --yellow-dark:#ffc900;
    --yellow-light:#f1f333;
    --green:#23a094;
    --grey:#90a8ed;
    --tomato:#e2442f;
}

.container{
    max-width: 1700px;
    padding-inline: 1em;
    margin: 0px auto;
}
img{
    max-width: 100%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(9,1fr);
}
.flex{
    display: flex;
}
/* Transition */
.navbar,
.logo img,
.navbar .list{
    transition: .5s ease;
}


/* Header Navigation */
.navbar{
    padding-block-end:.3em;
    outline: 3px solid;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 8vh;
    z-index: 2;
    background: #fff;
}
.navbar .item-logo .flex{
    align-items: center;
    justify-content: space-between;
}
.navbar .logo img{
    width: 160px;
}
.navbar .logo,
.navbar .button{
    margin-block-start: 1em;
    margin-block-end: .2em;
}
.navbar .button{
    cursor: pointer;
    background: transparent;
}
.button .line{
    transition: 
    y 100ms ease-in 200ms,
    rotate 150ms ease;
    transform-origin: center;
}

.button.open .line{
    transition: 
    y 100ms ease-in,
    rotate 150ms ease 200ms;
    fill: white;
}
button.open :is(.top,.bottom){
    y:45px;
}
.button.open .top{
    rotate:45deg;
}
.button.open .bottom{
    rotate:-45deg;
}
.navbar .list{
    background: #000;
    color: #ccc; 
    align-self: flex-start;
    justify-self: flex-start;
    position: fixed;
    top: 8vh;
    z-index: 2;
    display: none;
    height: 50vh;
    width: 100%;
}
.navbar .list ul{
    padding-inline:1.5em;
}
.navbar .login{
    border-block: 2px solid grey;
}
.navbar .login li{
    margin-block-start: 1em;
    margin-block-end: 1.5em;
    font-size: 1.15em;
}
.navbar .items li{
    margin-block-start:1em ;
    margin-block-end: 1.5em;
    font-size: 1.15em;
}
.hero{
    margin-top:4.1em;
    position: relative;
    display: flex;
    flex-direction: column;
}
.hero .selling{
    background:var(--pink);
    border: 1px solid;
    text-align: center;
}
.hero .selling h2{
    font-size: 3.5em;
    font-weight: 600;
    line-height: .9;
    margin-top: 1.2em;
}
.hero .selling p{
    font-size: 1.3em;
    font-weight: 500;
    width: 85%;
    margin-inline: auto;
    margin-block-start: 1em;
    margin-block-end: 2em;
}
.hero .selling{
    z-index: 1;
}
.hero .selling a{
    font-size: 1.3em;
    display: block;
    background: #000;
    color: #fff;
    width: 85%;
    margin-inline: auto;
    margin-bottom: 2em;
    padding-block: 1em;
    border-radius: 5px;
    position: relative;
    transition: .3s;
}
.hero .selling a::after{
    content: '';
    font-size: 1.3em;
    display: block;
    background:var(--pink);
    border: 2px solid black;
    color: #fff;
    width: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    margin-inline: auto;
    margin-bottom: 2em;
    padding-block: 1.2em;
    border-radius: 5px; 
    z-index:-1;
    opacity: 0;
    transition:  display .2s ease-out;
}
.hero .selling a::before{
    content: '';
    font-size: 1.3em;
    display: block;
    background:var(--yellow-light);
    border: 2px solid black;
    color: #fff;
    width: 100%;
    position: absolute;
    top: 12px;
    left: 12px;
    margin-inline: auto;
    margin-bottom: 2em;
    padding-block: 1.2em;
    border-radius: 5px; 
    z-index:-1;
    opacity: 0;
    transition:  opacity .1s ease-out .1s;
}
.hero .selling a:hover:after,
.hero .selling a:hover::before{
    opacity: 1;

}
.hero .image{
    border: 1px solid;
    background: var(--yellow-dark);
    width: 100%;
}

/* Girls */
.hero .image{
    position: relative;
    height:55vh;
}
.hero .image .girl{
    max-width: 500px;
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.hero .image .brush,
.hero .image .ggg{
    max-width: 200px;
    position: absolute;
}
.hero .image .brush{
    width: 20%;
    right: 0%;
    top: 20%;
}
.hero .image .ggg{
    width: 50%;
    bottom: 10%;
    left: 0%;
}

/* Workd Section */
.works .flex{
    flex-direction: column;
}
.works .flex .white{
    background: white;
    font-size: 1.75em;
    text-align: center;
    border: 2px solid ;

}
.works .white .container{
    margin-block: 2em;
}
.works .yellow{
    background:var(--yellow-dark);
}
.works .yellow .gif{
    position: relative;
    border: 2px solid black;
    margin-block: 1em;
    border-radius: 10px;
}

.works .yellow .gif p{
    position: absolute;
    background:var(--yellow-dark);
}

.works .yellow .gif .bottom{
    bottom: -9px;
    padding-inline: 1em;
} 
/* Yellow Div Paragraph bottom and top */
.works .yellow .gif .top,
.works .yellow .gif .bottom{
    left: 50%;
    transform: translate(-50%);
    padding-inline: .5em;
    text-align: center;
}
.works .yellow .gif .top{
    top: -9px;
}

/* Yellow Div Paragraph Right and Left */
.works .yellow .gif .right,
.works .yellow .gif .left{
    padding-inline: 1em;
    writing-mode: vertical-rl;
}
.works .yellow .gif .right{
    right: -9px;
    top: 50%;
    transform: translate(0px,-50%);
}
.works .yellow .gif .left {
    left: 0px;
    top: 25%;
    transform: translate(-50%);
}



/* Yellow Border Arrow */
.works .gif .arrow{
    position: absolute;  
}
.works .gif .r-top{
    top: -10px;
    left: 23%;
}
.works .gif .l-bottom{
    right: -2.5%;
    top: 27%;
    rotate: -90deg;
}
.works .gif .r-bottom{
    bottom: -3.5%;
    right: 25%;
}
.works .gif .l-top{
    rotate: -90deg;
    bottom: 9%;
    left: -2.5%;
}


/* gif Image */
.works .gif .center{
display: flex;
justify-content: center;
align-items: center;
}


.bets{
    flex-direction: column;
}
.bets .dark-pink,
.bets .light-pink{
    width: 100%;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    height: 35vh;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bets .dark-pink h1,
.bets .light-pink h1{
    font-weight: 500;
}
.bets .dark-pink{
    background:var(--dark-pink);
    border-top: 2px solid;
}
.bets .light-pink{
    background:var(--pink);
}

/* books */
.book .flex{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.book .black-book{
    background: #000;
    padding-block: 4em;
    position: relative;
}
.book .black-book .img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.book .black-book .img img{
    width: 80%;
}
.book .black-book .text {
    background: white;
    display: inline-block;
    padding: .9em .5em;
    font-size: .8em;
    border: 2px solid;
    position: absolute;
    top: 15%;
    left: 5%;
    border-radius: 10px;
    font-weight: bold;
}

.book .yellow-book{
    background:var(--yellow-dark);
    padding-block:4em;
    position: relative;
}
.book .yellow-book .img{
    margin: auto;
    width: 80%;
}

.book .yellow-book .text{
    display: inline-block;
    background: white;
    padding: .9em .5em;
    font-size: .8em;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    top: 10%;
    left: 7%;
}
.book .yellow-book .exciting{
    width: 50%;
    position: absolute;
    bottom: 3%;
    right: 5%;
}